<body>
<div class="wrapper">
<div class="border-box">
<div class="profle-box"><a href="javascript:void(0);" id="addCity" class="save-change">Add City</a>
<div class="profile-detail">
  <table class="table table-hover">
  <tr  class="active">
    <th>Id</th>
    <th>State</th>
    <th>City</th>
    <th>Action</th>
  </tr>
  <% for(var i=0; i<myArrayCity.length;i++) { %>
  <% if(myArrayCity[i].city) { %>
  <tr class="success">
    <td><%= i+1 %></td>
    <td><%= myArrayCity[i].statename %></td>
    <td><%= myArrayCity[i].city %></td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="# ">Delete</a></span></td>
  </tr>
  <% } %>
  <% } %>
</table>
</div>
<div class="clear"></div>
</div>
</div>
<div id="createcity_dialog">
 <form action="/createcity" method="post">
  <fieldset>
   <span for="name">Enter State</span><br>
   <select name="state">
      <option value="">select_state</option>
      <% for(var i=0; i<myArrayCity.length;i++) { %>
      <option value="<%= myArrayCity[i].state %>"><%= myArrayCity[i].state %></option>
      <% } %>
      </select><br>
   <span for="name">Enter City</span>
   <input type="text" name="city"  id="city" class="text ui-widget-content ui-corner-all" required><br>
   <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">submit</span></button>
  </fieldset>
 </form>
</div>

<script>
 $( "#createcity_dialog" ).dialog({
   autoOpen: false,
   modal : true,
   show: {
   effect: "blind",
   duration: 1000
  },
   hide: {
   effect: "explode",
   duration: 1000
  }
 });
  $(function() {    
   $("#addCity").click(function(){
    $("#createcity_dialog").dialog('open');
   });   
  });
</script>

<!-- Container-box-End -->
</body>

