<div class="wrapper">
<div class="border-box">
 <div class="profle-box"><a href="javascript:void(0);" id="addState" class="save-change">New State</a>
  <div class="profile-detail">
  <table class="table table-hover">
   <tr  class="active">
     <th>Id</th>
     <th>State</th>
     <th>Action</th>
    </tr>
    <% for(var i=0; i<allstate.length;i++){ %>
     <tr class="success">
     <td><%= i+1 %></td>
     <td><%= allstate[i].state %></td>
     <td><span><a href="javascript:void(0);" onclick="edit('<%= allstate[i].state %>','<%= allstate[i].id %>')">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>
     <a href="/deletestate?deletestateid=<%= allstate[i].id %>">Delete</a></span></td>
    </tr>
    <% } %>
  </table>
  <%- req.flash('message') %>
  </div>
  <div class="clear"></div>
 </div>
</div>
</div>
</div>
</div>
<!-- New_state_dailog box start -->
<div id="createstate_dialog">
 <form action="/createstate" method="post">
  <fieldset>
   <label for="name">Enter State</label>
   <input type="text" name="state"  id="state" class="text ui-widget-content ui-corner-all" required>
   <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">submit</span></button>
  </fieldset>
 </form>
</div>
<!-- New_state_dailog box end -->
<!-- edit_state_dailog box start -->

<div id="editstate_dialog">
 <form action ="/editstate" method="post">
  <fieldset>
   <label for="name">Enter State</label>
   <input type="text" name="editstatename"  id="editstate" required>
   <input type="hidden" name="editstateid"  id="editstateid"  required>
   <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">update</span></button>
  </fieldset>
 </form>
</div>
<!-- edit_state_dailog box end -->
<script>
 $( "#createstate_dialog" ).dialog({
   autoOpen: false,
   modal : true,
   show: {
   effect: "blind",
   duration: 1000
  },
   hide: {
   effect: "explode",
   duration: 1000
  }
 });

  $(function() {    
   $("#addState").click(function(){
    $("#createstate_dialog").dialog('open');
   });   
  });
</script>

<script>
$( "#editstate_dialog" ).dialog({
   autoOpen: false,
   modal : true,
   show: {
   effect: "blind",
   duration: 1000
  },
   hide: {
   effect: "explode",
   duration: 1000
  }
 });
function edit(state,id){
     $("#editstate_dialog").dialog('open');
      $("#editstate").val(state);
      $("#editstateid").val(id);
  }
  </script>